@media screen and (max-width: 900px) {
    .caixa {
        width: 90% !important;
        padding: 0;
        height: 100%;
       
    }

    .caixa.caixa:nth-child(2n){
        height: 100%;
    }

    .caixa.caixa:nth-child(3n){
        padding: 0;
        height: 100%;
    }

    .formulario input {
        width: 90%;
    }

    .caixa h1 {
        font-size: 20px !important;
    }

    .caixa p {
        font-size: 15px;
    }


}