@media screen and (max-width: 480px) {
    .caixa {
        width: 100% !important;
        padding: 0;
        height: 270px;
       
    }

    .caixa.caixa:nth-child(2n){
        height: 350px;
    }

    .caixa.caixa:nth-child(3n){
        padding: 0;
        height: 200px;
    }

    .formulario input {
        width: 90%;
    }

    .caixa h1 {
        font-size: 16px !important;
    }

    .caixa p {
        font-size: 10px;
    }


}